Package: samm-pysammsnmp
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: python3, libsnmp-dev
Conflicts: 
Architecture: all
Homepage: https://www.samanagroup.com
Description: SAMM SNMP libraries. Samana Advanced Monitoring and Management
